/* This is the stylesheet for the about page*/
body, html {
    height: 100%;
}

.navigation {
  margin-bottom: 0;
}

.about-us {
  height:50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-us-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1em;
}

.contact-us {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2em;
}

ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  padding:0;
  text-align: left;
}

.in-text-link {
  color: #86538C;  /* Purple */
}

/* Shape the paragraph at certain screen sizes */
@media screen and (min-width: 40em) {
  .about-us {
    height:50%;
  }

  .about-us-text {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 80em) {

  .about-us {
    height:75%;
  }

  .about-us-text {
    font-size: 1.3em;
  }
}
