/* This is the stylesheet for the checkout page to apply flexbox*/


.container {
  display: flex;
  flex-wrap: wrap;
  margin: 5em;
}

.item1 {
  flex: 1 1 auto;
}

.checkout {
  padding-top: 2em;
}

.product-info {
  float: right;
}
