#featured-products {
  text-align: center;
}

/* flex box css*/
.flex-box {
  display: flex;
  margin: 5em;
  flex-wrap: wrap;
  justify-content: center;
}

/*make the items display vertically on a smaller screen size*/
@media screen and (min-width: 20em) {
  .flex-box{
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

/*make only two items per row display on medium screen sizes*/
@media screen and (min-width: 40em) {
  .flex-box{
    flex-direction: row;
    flex-wrap: wrap;
  }

}



/*carousel css*/

.slide-images-1{
  width:100%;
}

.slide-images-2{
  width:100%;
  display:none;
}

.product-img {
  width:50%;
}

.slideshow-container {
  max-width: 100%;
  /* Keeps arrows in the middle of banners */
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  /* Change cursor over the hover */
  cursor: pointer;
  /* Keeps the arrows in the same place */
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2em;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /* Rounds inner corners on the left button */
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* Rounds inner corners on the right button */
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #86538C;  /* Purple */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #CCB2D5; /* Lilac */
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F8E392;  /* Yellow */
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.home-page-section {
  text-align: center;
}

@media only screen and (max-width: 60em) {
  .slide-images-1{
       display: none;
     }

  .slide-images-2{
       display: block;
     }
}
