/* This css sheet is to apply flexbox and other styling to the product listing page */

/*first row*/
.container {
  display: flex;
  text-align: center;
}

/*second row*/
.container2 {
  display: flex;
  text-align: center;
}

/*third row*/
.container3 {
  display: flex;
  text-align: center;
}

/*product styling*/
.product {
  flex: 1 1 auto;
}

.product-img {
  width: 15rem;
  height: 15rem;
}

/*make the items display vertically on a smaller screen size*/
@media screen and (min-width: 20em) {
  .container{
    flex-direction: column;
  }

  .container2 {
    flex-direction: column;
  }

  .container3 {
    flex-direction: column;
  }

  /*for the product detail page only*/
    .container4 {
      flex-direction: column;
      padding-top: 3em;
    }
}

/*make only two items per row display on medium screen sizes*/
@media screen and (min-width: 40em) {
  .container{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container2 {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container3 {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*for the product detail page only*/
    .container4 {
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 0;
    }
}




/*make all four items display on large screen sizes*/
@media screen and (min-width: 80em) {
  .container{
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .container2 {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .container3 {
    flex-direction: row;
    flex-wrap: nowrap;
  }

/*for the product detail page only*/
  .container4 {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

/*-----------------------------------------------------------------------*/

/* Styling for the Detailed Product pages */
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

/*style the added to cart message*/
h3 {
  text-align: center;
  color: #3d3d3d; /*Dark Grey*/
}

.added-message {
  background-color: #CCB2D5; /* Lilac */
  margin:auto;
  width: 60%;
}

/* create space between the product image and product description*/
.product_description {
  margin-left: 10em;
}

#detailed_view {
  width: 25rem;
  height: 25rem;
  float: left;

}

.button-nav {
  margin-bottom: 2em;
}

.desc {
  text-align: left;
}
